<script src="/javascript/script.js" defer></script>

<div class="profile-container">
    {{#if author}}
    <img class="profile-pic" src="{{author.profilePictureURL}}" alt="{{author.username}}">

    <div class="user-info">
        <span class="username">{{author.username}}</span>
    </div>
    {{else}}
    <span class="username">Unknown Author</span>
    {{/if}}
</div>

<div class="post-container">   
    <div class="post-title">
        <span class="title">{{title}}</span> 
    </div>
    <span class="post-date">{{formatDate createdAt}}</span>
    <div class="post-pic">
        <img class="game-pic" onclick="redirectToUserProfile('{{author.username}}');" style="cursor: pointer;" src="{{mediaPath}}" alt="Post Image">
    </div>
</div>

<div class="post-info-container" data-game="{{_id}}">
    <div class="post-content">
        <p> 
            <span class="preview">press to</span>
            <span class="full-content" style="display: none;">{{content}}</span>
            <span class="dots">...</span>
            <a onclick="readMore('{{_id}}')" class="myBtn"> Read about this post </a>
        </p>
    </div>
</div>

