

<div class="profile-container">
    {{#if author}}
    <img class="profile-pic" src="{{author.profilePictureURL}}" alt="{{author.username}}">

    <div class="user-info">
        <span class="username">{{author.username}}</span>
    </div>
    {{else}}
    <span class="username">Unknown Author</span>
    {{/if}}
</div>

<div class="post-container">   
    <div class="post-title">
        <span class="title">{{title}}</span> 
    </div>
    <span class="post-date">{{createdAt}}</span>
    <div class="post-pic">
        <img class="game-pic" onclick="redirectToUserProfile('{{author.username}}');" style="cursor: pointer;" src="{{mediaPath}}" alt="Post Image">
    </div>
</div>

<div class="post-info-container" data-game="gow">
    <div class="post-content">
        <p> 
            {{content}}
            <span class="dots">...</span>
            <span class="more">
            </span>
        </p>
        <a onclick="myFunction('{{game}}')" class="myBtn"> Read more </a>
    </div>
</div>