<!-- views/reviews.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Reviews - GamersNook!</title>
    <link rel="icon" type="image/x-icon" href="/styles/images/fav2.png">

    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- CSS Files -->
    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/reviews.css"/>

    <!-- Font Awesome for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <!-- Navigation bar -->
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand" href="/">GamersNook!</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <!-- ... (rest of your navigation links) ... -->
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard"><i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="profile.html"><i class="fas fa-user"></i> Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="gamelib.html"><i class="fas fa-gamepad"></i> Game Library</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/reviews"><i class="fas fa-star"></i> Reviews</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login"><i class="fas fa-sign-out-alt"></i> Log Out</a>
                        </li>
                    </ul>
                </div>

                <div class="search-box">
                    <input type="text" id="search" onkeyup="searching()" placeholder="Search post by title">
                </div>
            </div>
        </nav>
    </header>

    <div class="latest-content">
        <div class="reviews-title">Latest Reviews and Discussions</div>

        <div id="reviews-container">

        
            <% reviewsData.forEach(review => { %>
            <div class="user-container">
                <!-- ... (rest of your content) ... -->

                <!-- <a href="user-profile.html?userId=1" class="profile-link"> -->
                    <div class="profile-container">
                        <% if (review.author) { %>
                            <img class="profile-pic" src="<%= review.author.profilePictureURL %>" alt="<%= review.author.username %>">
                            <div class="user-info">
                                <span class="username"><%= review.author.username %></span>
                            </div>
                        <% } else { %>
                            <!-- Handle the case where author is undefined or null -->
                            <span class="username">Unknown Author</span>
                        <% } %>
                    </div>
                <!-- </a> -->

                <div class="post-container">   
                    <div class="post-title">
                        <span class="title"><%= review.title %></span> 
                    </div>
                    <span class="post-date"><%= review.createdAt.toDateString() %></span>
                        
                    <div class="post-pic">
                        <img class="game-pic" onclick="window.location='user-profile.html?userId=1';" style="cursor: pointer;" src="<%= review.mediaPath %>" alt="Post Image">
                    </div>
                </div>

                <div class="post-info-container" data-game="<%= review.game %>">
                    <div class="post-content">
                        <p> 
                            <%= review.content %>
                            <span class="dots">...</span>
                            <span class="more">
                            </span>
                        </p>
                        <a onclick="myFunction('<%= review.game %>')" class="myBtn"> Read more </a>
                    </div>
                </div>


                <!-- Comment Box -->
            <div class="comment-box">
                <div class="bg-light p-2">
                    <!-- Assuming you're passing a variable named 'comments' to this template -->
                    <% if (review.comments && review.comments.length > 0) { %>
                        <% review.comments.forEach(comment => { %>
                            <div class="card bg-white p-2">
                                <!-- User Info -->
                                <div class="d-flex flex-row user-info">
                                    <img class="rounded-circle" src="<%= comment.user.profilePictureURL %>" width="40">
                                    <div class="d-flex flex-column justify-content-start ml-2">
                                        <span class="d-block font-weight-bold name"><%= comment.user.username %></span>
                                        <span class="date text-black-50">Shared publicly - <%= comment.date %></span>
                                    </div>
                                </div>

                                <!-- Comment Text -->
                                <div class="mt-2">
                                    <p class="comment-text"><%= comment.content %></p>
                                </div>

                                <!-- Like, Comment, Share Buttons -->
                                <div class="d-flex flex-row fs-12 mt-2">
                                    <div class="like p-2 cursor">
                                        <i class="fa fa-thumbs-o-up"></i>
                                        <span class="ml-1">Like</span>
                                    </div>
                                    <div class="like p-2 cursor">
                                        <i class="fa fa-commenting-o"></i>
                                        <span class="ml-1 reply">Comment</span>
                                    </div>
                                </div>

                                <!-- Reply Input Box (initially hidden) -->
                                <div class="comment-details" style="display: none;">
                                    <div class="d-flex flex-row align-items-start">
                                        <img class="rounded-circle" src="/styles/images/purinpost.jpg" width="40">
                                        <textarea class="form-control ml-1 shadow-none textarea" placeholder="Add text here"></textarea>
                                    </div>
                                    <div class="mt-2 text-right">
                                        <button class="btn btn-primary btn-sm shadow-none submit" type="button">Submit</button>
                                        <button class="btn btn-outline-primary btn-sm ml-1 shadow-none cancel" type="button">Cancel</button>
                                    </div>
                                </div>

                            </div>
                        <% }); %>
                    <% } %>

                    <!-- Always show an empty comment box for users to add comments -->
                    <div class="card bg-white p-2">
                        <div class="comment-details">
                            <div class="d-flex flex-row align-items-start">
                                <img class="rounded-circle" src="/styles/images/purinpost.jpg" width="40">
                                <textarea class="form-control ml-1 shadow-none textarea" placeholder="Add text here"></textarea>
                            </div>
                            <div class="mt-2 text-right">
                                <button class="btn btn-primary btn-sm shadow-none submit" type="button">Submit</button>
                                <button class="btn btn-outline-primary btn-sm ml-1 shadow-none cancel" type="button">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

            </div>
            <% }); %>
        </div>
    </div>

    <!-- Bootstrap JavaScript and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- JavaScript Files -->
    <script src="/javascript/script.js"></script>
    <script src="/javascript/comment.js"></script>
    <script src="/javascript/user-profile.js"></script>
</body>
</html>
